{
  "$schema": "https://json.schemastore.org/prettierrc.json",
  "singleQuote": true,
  "arrowParens": "always",
  "semi": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "printWidth": 100,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-organize-imports",
    "prettier-plugin-css-order"
  ],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
