:root {
  --color-bg: hsl(240, 8%, 14%);
  --color-text: hsl(0, 0%, 95%);
  --color-accent: hsl(36, 60%, 60%);
  --color-accent-hover: hsla(36, 60%, 60%, 0.65);

  --color-social: hsl(36, 60%, 60%);
  --color-social-hover-glow: hsla(36, 60%, 60%, 0.65);
  background-color: var(--color-bg);
  color: var(--color-text);

  color-scheme: light dark;
  font-weight: 400;
  font-size: 100%;
  line-height: 1.5;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  transition: filter 300ms;
  will-change: filter;
  padding: 1.5rem;
  height: 8rem;
}
.logo:hover {
  filter: drop-shadow(0 0 2rem hsla(239, 100%, 68%, 0.67));
}
.logo.svelte:hover {
  filter: drop-shadow(0 0 2rem hsla(16, 100%, 50%, 0.67));
}

.social-logo {
  display: inline-block;
  transition:
    filter 300ms,
    transform 200ms;
  padding: 1.5rem;
}
.social-logo svg {
  display: block;
  fill: var(--color-social);
  width: 3rem;
  height: 3rem;
}
.social-logo:hover {
  transform: translateY(-0.2rem);
  filter: drop-shadow(0 0 2rem var(--color-social-hover-glow));
}
a {
  color: var(--color-social);
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: var(--color-accent-hover);
}

body {
  display: flex;
  place-items: center;
  margin: 0;
  min-width: 20rem;
  min-height: 100vh;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

.card {
  padding: 2rem;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  max-width: 80rem;
  text-align: center;
}

button {
  transition: border-color 0.25s;
  cursor: pointer;
  border: 0.0625rem solid transparent;
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 10%);
  padding: 0.6em 1.4em;
  font-weight: 500;
  font-size: 1.1rem;
  font-family: inherit;
}
button:hover {
  border-color: var(--color-accent);
}
button:focus,
button:focus-visible {
  outline: 0.25rem auto -webkit-focus-ring-color;
}

footer {
  opacity: 0.7;
  transition: opacity 0.25s ease-in-out;
  margin-top: 3rem;
  padding: 1rem 0;
  width: 100%;
  font-size: 0.9rem;
  font-family: 'Courier New', Consolas, monospace;
  user-select: none;
  text-align: center;
}
footer:hover {
  opacity: 1;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: hsl(0, 0%, 100%);
    --color-text: hsl(216, 25%, 26%);
  }

  button {
    background-color: hsl(0, 0%, 98%);
  }
}
